//width and height
.w-100 {
    width: 100%;
}
.vh-min-100 {
    min-height: 100vh;
}

.display-3 {
    font-size: 3rem;
}
.text-center {
    text-align: center;
}

.position-relative {
    position: relative;
}

//loading
.loading-container {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9001;
    &--blur {
        display: block;
        background-color: rgba($color: #000000, $alpha: 0.1);
    }
    &--blur + *{
        filter: blur(5px);
    }
}
.loading-spin {
    
}