//padding and margin
$spacer: 5px;
$position: (
    "left": "l",
    "right": "r",
    "top": "t",
    "bottom": "b",
    "x": ("left", "right"),
    "y": ("top", "bottom"),
);

@each $key, $val in ( "p": "padding", "m": "margin" ) {
    //$spacer
    @for $i from 1 through 6 {
        .#{$key}-#{$i} {
            #{$val}: $i * $spacer !important;
        }
        @each $pos-name, $pos-val in $position {
            @if $pos-name == 'x' or $pos-name == 'y' {
                .#{$key}#{$pos-name}-#{$i} {
                    #{$val}-#{nth($pos-val, 1)}: $i * $spacer !important;
                    #{$val}-#{nth($pos-val, 2)}: $i * $spacer !important;
                }
            }
            @else {
                .#{$key}#{$pos-val}-#{$i} {
                    #{$val}-#{$pos-name}: $i * $spacer !important;
                }
            }
        }
    }

    //auto
    @if $key == "m" {
        @each $pos-name, $pos-val in $position {
            @if $pos-name == 'x' or $pos-name == 'y' {
                .#{$key}#{$pos-name}-auto {
                    #{$val}-#{nth($pos-val, 1)}: auto !important;
                    #{$val}-#{nth($pos-val, 2)}: auto !important;
                }
            }
            @else {
                .#{$key}#{$pos-val}-auto {
                    #{$val}-#{$pos-name}: auto
                }
            }
        }
    }
}

//display
$displayList: (
    'none',
    'inline',
    'block',
    'inline-block',
    'flex'
);

@each $var in $displayList {
    .d-#{$var} {
        display: #{$var} !important;
    }
    @each $name, $value in $breakpoint {
        .d-#{$name}-#{$var} {
            @include responsive-up($value) {
                display: #{$var} !important;
            }
        }
    }
};

//flexbox and colspan
$gutters: 15px;
$splitTimes: 12;

.container {
    max-width: 960px;
    padding-left: $gutters;
    padding-right: $gutters;
}

.container-fluid {
    width: 100%;
    padding-left: $gutters;
    padding-right: $gutters;
}

.row {
    margin-left: -$gutters !important;
    margin-right: -$gutters !important;
}

$unit: 100% / $splitTimes;
@for $i from 1 through $splitTimes {
    .col-#{$i} {
        width: #{$unit * $i};
        flex: 1 1 #{$unit * $i};
    }
    @each $name, $value in $breakpoint {
        .col-#{$name}-#{$i} {
            @include responsive-up($value) {
                width: #{$unit * $i};
                flex: 1 1 #{$unit * $i};
            }
        }
    }
}


