<!DOCTYPE html>
<html lang="en">
<head>
    {{> BaseMetaTags}}
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div id="root" class="container-fluid">
        <div id="test">
            {{> test}}
        </div>
        <div id="info">
            <h3>
                {{trans 'Hello'}}
            </h3>
        </div>
        
        <select name="lang" id="lang">
            <option value="zh-tw">繁體中文</option>
            <option value="en-us">English</option>
        </select>
    </div>
</body>
</html>