<!DOCTYPE html>
<html lang="en">
<head>
    {{> BaseMetaTags}}
    <title>{{htmlWebpackPlugin.options.title}}</title>
</head>
<body>
    <div id="root" class="container-fluid">
        <div id="test">
            {{> test}}
        </div>
        <div id="info">
            <h3>WoW</h3>
        </div>
    </div>
</body>
</html>